[Unit]
Description=RouteDns - DNS stub resolver and router
After=network.target
Wants=network.target

[Service]
Type=simple
DynamicUser=true
NoNewPrivileges=true
LimitAS=infinity
LimitRSS=infinity
LimitCORE=infinity
LimitNOFILE=999999
WorkingDirectory=/usr/local/RouteDns/
ExecStart=/usr/local/RouteDns/RouteDns /etc/RouteDns/config.toml
Restart=on-failure

[Install]
WantedBy=multi-user.target
